@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

@layer base {
  body {
    @apply bg-green-950 text-white;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-full font-medium transition-colors;
  }
  
  .btn-primary {
    @apply bg-green-500 hover:bg-green-600 text-white;
  }
  
  .btn-secondary {
    @apply bg-green-900 hover:bg-green-700 text-white;
  }
  
  .card {
    @apply bg-green-950/75 backdrop-blur-sm rounded-xl p-4 shadow-lg;
  }

  .card-music {
    @apply flex flex-col justify-between bg-green-950 rounded-xl p-4 shadow-lg;
  }

  .font-arvo-bold {
    @apply arvo-bold
  }

  .btn-shadow {
    @apply shadow-hover
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10rem;
}

.arvo-bold-md {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}

.shadow-hover {
  box-shadow: 12px 15px 0 rgba(0, 0, 0, 1);
}